# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
.pytest_cache/

# Environment variables & secrets
.env
.env.local

# SQLite local database binaries
*.db
*.sqlite
*.sqlite3
*.db-journal
*.sqlite3-journal

# OS files
Thumbs.db
.DS_Store

